body{
	background-color: #E1F1E7;
}
hr{
	color:  #909FA6;
	border: dashed;
}
.nev_a{
	color: black;
	background-color: #B1D3C5;
}
.nev{
	margin-left: auto;
	margin-right: auto;
}
h1{
	text-align:  center;
}